  <footer>
    <div class="container">
      <div class="footer-content">
        <ul class="footer-links">
          <li><a class="footer-link" href="/privacy-policy">Privacy Policy</a></li>
          <li><a class="footer-link" href="/terms-conditions">Terms & Conditions</a></li>
        </ul>
        <p class="footer-copyright">&copy; Kirill Shats. All Rights Reserved</p>
      </div>
    </div>
  </footer>

  <script src="/js/navbar.js"></script>
  
  <%switch (path) {
    case "/":%>
      <script src="/js/filter.js"></script>
      <%break;
    case "/register":%>
      <script src="/js/register.js"></script>
      <%break;
    case "/login":%>
      <script src="/js/login.js"></script>
      <%break;
  }%>
</body>
</html>