  <footer>
    <div class="container">
      <div class="footer-content">
        <!-- <a class="footer-logo" href="/">DevJournal</a> -->
        <ul class="footer-links">
          <li><a class="footer-link" href="/privacy-policy">Privacy Policy</a></li>
          <li><a class="footer-link" href="/terms-conditions">Terms & Conditions</a></li>
        </ul>
        <p class="footer-copyright">&copy; Kirill Shats. All Rights Reserved</p>
      </div>
    </div>
  </footer>

  <script src="js/filter.js"></script>
  <script src="js/navbar.js"></script>
</body>
</html>