<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Journal</title>
    <link rel="stylesheet" href="/css/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <div class="container">
            <menu class="nav-menu">
                <li class="logo"><a href="/">DevJournal</a></li>
                <li class="mobile-toggle"><a><i class="fa-solid fa-bars"></i></a></li>
                <li class="nav-items">
                    <ul>
                        <div>
                            <li class="nav-item"><a href="/">Entries</a></li>
                            <%if (auth) {%>
                                    <li class="nav-item"><a class="nav-link" href="/compose">Compose</a></li>
                                    <li class="nav-item nav-dropdown-item">
                                        <a class="nav-link">Account</a>
                                        <ul class="nav-dropdown">
                                            <li class="dropdown-item"><a class="nav-link" href="/my-entries">My Entries</a></li>
                                            <li class="dropdown-item"><a class="nav-link" href="/profile">Profile</a></li>
                                            <li class="dropdown-item"><a class="nav-link" href="/logout">Logout</a></li>    
                                        </ul>
                                    </li>
                            <%} else {%>
                                    <li class="nav-item nav-dropdown-item">
                                        <a class="nav-link">Account</a>
                                        <ul class="nav-dropdown">
                                            <li class="dropdown-item"><a class="nav-link" href="/register">Register</a></li>
                                            <li class="dropdown-item"><a class="nav-link" href="/login">Log In</a></li>
                                        </ul>
                                    </li>
                            <%}%>
                        </div>
                    </ul>
                </li>
            </menu>
        </div>
    </nav>