<%- include("partials/header") %>

<div class="container">

    <h1>Project Description:</h1>
    <hr style="color: #A2DBFA;">
    <!-- What -->
    <h2>What?</h2>
    <p>
        A 'blog like' website containing "Dev Entries" written by me to showcase my learning process of certain
        technologies.
    </p>
    <!-- Why -->
    <h2>Why?</h2>
    <p>
        Building this project has allowed me to practice putting full-stack web development principles to work and gain
        a better understanding of MongoDB and the role that Node.js plays in the back-end of websites. This project also
        allows me to document things that I have learned currently and in the future, in a blog like manner
    </p>
    <!-- How -->
    <h2>How?</h2>
    <p>
        The base of the project started from a template provided by App Brewery in their Web Dev course, which consisted
        of front-end only code. This front-end template had the ejs files of a Home, About, Posts, and Contact page
        along with a CSS stylesheet. I used this template to get development off the ground faster and started by
        developing the back-end functionality for the website, starting with connecting the Node.js module express
        server to the ejs pages and setting up MongoDB using the help of Mongoose. Once the pages were being served up
        by the express server and database was working properly I went ahead and developed the actual functionality of
        the dev journal. This included being able to create new entries which would dynamically be generated on the home
        page as well as dynamically generate individual entry pages using express routing parameters show their own
        page. After the functionality of the website was complete I went ahead and edited the front-end of the site by
        editing the styles provided by App Brewery to my liking and transitioning to Bootstrap 5 (instead of version 3 which was
        being used) and changing the UI colors to a dark-theme pallete.

    </p>
    <h4>Technologies Used:</h4>
    <ul>
        <li>Front-End
            <ul>
                <li>HTML</li>
                <li>Bootstrap</li>
                <li>CSS</li>
            </ul>
        </li>
        <li>Back-End
            <ul>
                <li>Node.js</li>
                <li>Express</li>
                <li>Mongoose</li>
                <li>EJS</li>
            </ul>
        </li>
        <li>Database
            <ul>
                <li>MongoDB</li>
            </ul>
        </li>
    </ul>
</div>
<%- include("partials/footer") %>