<%- include("partials/header") %>
  <main class="container" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h1 style="margin-bottom: 25px;">Coming Soon<span class="accent">!</span></h1>
    <p style="text-align: center; font-size: 14px; font-weight: 300; width: 75%; letter-spacing: 1px; line-height: 20px;">DevJournal is currently in active development, sorry for the inconvience...</p>
  </main>
<%- include("partials/footer") %>