<%- include("partials/header") %> 
  <main class="container compose-wrapper">
    <h1 class="compose-header">New Dev Entry<span class="accent">:</span></h1>

    <div class="compose-form-container">
      <form id="compose-form" action="/new-compose" method="POST" name="newDevEntryForm" autocomplete="off">
        <label class="compose-label" for="entryTitle">Title<span class="accent">:</span></label>
        <input id="entryTitle" class="compose-input" name="entryTitle" type="text" placeholder="Enter a title for your new entry." required>

        <label class="compose-label" for="entryContentInput">Content<span class="accent">:</span></label>
        <textarea id="entryContentInput" class="compose-input" name="entryContent" placeholder="Enter content for your new entry." required></textarea>

        <button class="post-entry-btn" type="submit">Post Entry</button>
      </form>
    </div>
  </main>
<%- include("partials/footer") %> 
<!-- CKEditor -->