<%- include("partials/header") %>

<div class="container">
    <h1>Compose</h1>

    <form action="/compose" method="POST">
        <!-- 'Date' Input -->
        <div class="form-group">
            <label>
                Date
                <input type="date" class="form-control input-color" name="dateInput" required>
            </label>
        </div>

        <!-- 'Title' Input -->
        <div class="form-group">
            <label for="titleInput">Title</label>
            <input type="text" id="titleInput" class="form-control input-color" name="titleInput" required>
        </div>

        <!-- 'Entry' Input -->
        <div class="form-group">
            <label for="postInput">Post</label>
            <textarea id="postInput" name="postInput" rows="5" class="form-control input-color" required></textarea>
        </div>

        <div class="d-grid d-md-block">
            <button type="submit" class="btn btn-primary btn-block compose-button">Publish</button>
        </div>

    </form>
</div>

<%- include("partials/footer") %>