<%- include("partials/header") %>
    <main class="container login-container">
        <div class="login-header">
            <h1>Sign in to DevJournal<span class="accent">.</span></h1>
        </div>
        <div class="login-form-container">
            <form id="loginForm" action="/login" method="POST" name="loginForm">
                <input class="auth-input" type="email" name="username" id="loginEmail" placeholder=" " required>
                <label class="auth-label" for="loginEmail">Email</label>

                <input class="auth-input" type="password" name="password" id="loginPassword" placeholder=" " required>
                <label class="auth-label" for="loginPassword">Password</label>

                <div class="submit-form">
                    <button class="login-button" type="submit">Sign in</button>
                    <p id="auth-err" class="hidden"></p>
                </div>
            </form>

            <div class="socials-divider">
                <hr>
                <span>or</span>
            </div>
            
            <p class="sign-in-with">Sign in with</p>
            <div class="socials-auth">
                <a href="/google" role="button"><i class="fa-brands fa-google"></i></a>
                <a href="/facebook" role="button"><i class="fa-brands fa-facebook-f"></i></a>
            </div>
        </div>
        <p class="have-account-login">Dont have an account? <a class="register-login-link" href="/login">Sign up</a></p>
    </main>
<%- include("partials/footer") %>