<%- include("partials/new-header") %>
<main class="container entry-wrapper">

  <div class="entry-post-dev-card">

    <div class="dev-pic-container">
      <img src="/img/profile.jpg" alt="">
    </div>
    <div class="entry-post-info">
      <p class="entry-post-author">Jennifer Dempsey</p>
      <p class="entry-post-date">June 6, 2020 </p>
    </div>

    <div class="entry-dev-socials">
      <a class="entry-dev-socials-menu" href="#"><i class="fa-solid fa-ellipsis"></i></i></a>
      <div class="entry-dev-social-icons">
        <a class="entry-dev-social-icon" href="#"><i class="fa-brands fa-github"></i></i></a>
        <a class="entry-dev-social-icon" href="#"><i class="fa-brands fa-twitter"></i></a>
        <a class="entry-dev-social-icon" href="#"><i class="fa-brands fa-linkedin"></i></a>
        <a class="entry-dev-social-icon" href="#"><i class="fa-solid fa-user"></i></a>
      </div>
    </div>
  </div>

  <div class="entry-post">
    <h1 class="entry-post-title">Lorem ipsum dolor sit amet, consectetur</h1>
    <p class="entry-post-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et malesuada fames ac turpis egestas integer eget. Arcu felis bibendum ut tristique et egestas. Cras ornare arcu dui vivamus arcu felis bibendum. Donec enim diam vulputate ut pharetra sit. Adipiscing bibendum est ultricies integer. Ultrices neque ornare aenean euismod elementum. Amet massa vitae tortor condimentum lacinia quis vel eros. Libero id faucibus nisl tincidunt. Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Nibh sit amet commodo nulla facilisi nullam vehicula ipsum. Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec. Arcu dui vivamus arcu felis bibendum ut tristique et. Augue mauris augue neque gravida in fermentum et. Ut morbi tincidunt augue interdum velit euismod in pellentesque massa. Pellentesque massa placerat duis ultricies lacus sed turpis tincidunt.

      Porta nibh venenatis cras sed felis. Velit ut tortor pretium viverra suspendisse. Nulla facilisi morbi tempus iaculis urna id volutpat lacus. Pharetra vel turpis nunc eget lorem. Porttitor massa id neque aliquam vestibulum morbi blandit cursus. Neque aliquam vestibulum morbi blandit cursus risus at. Pellentesque massa placerat duis ultricies. At elementum eu facilisis sed. Massa id neque aliquam vestibulum morbi blandit cursus risus. In metus vulputate eu scelerisque. Vel pharetra vel turpis nunc. Arcu odio ut sem nulla pharetra diam sit. Dictum sit amet justo donec enim. Morbi quis commodo odio aenean sed adipiscing diam. Non tellus orci ac auctor augue mauris. Lectus mauris ultrices eros in. In vitae turpis massa sed elementum tempus egestas.
      
      Vitae auctor eu augue ut lectus. Amet risus nullam eget felis eget nunc lobortis. Amet consectetur adipiscing elit pellentesque habitant. In dictum non consectetur a erat nam at. Ornare arcu odio ut sem nulla pharetra diam. Et ligula ullamcorper malesuada proin. Ornare quam viverra orci sagittis eu. Sapien et ligula ullamcorper malesuada proin libero nunc consequat interdum. Fusce id velit ut tortor pretium viverra suspendisse. Tellus elementum sagittis vitae et leo duis ut. Habitant morbi tristique senectus et netus. Quam id leo in vitae turpis massa sed. Leo in vitae turpis massa sed elementum tempus egestas sed. Scelerisque in dictum non consectetur a erat nam. Ut consequat semper viverra nam libero justo laoreet. Fermentum leo vel orci porta non pulvinar neque laoreet suspendisse. Orci porta non pulvinar neque laoreet.</p>
  </div>
</div>
</main>
<%- include("partials/footer") %>