/* Background Color: #121212 */
/* Layer Color:      #212020 */
/* Accent Color:     #4ab9e0 */ 
/* Test Color:       #fafbfa */

/* Main Breakpoints: 768px, 1024px, 1440px, 1920px */


/* Fonts - Google For Now */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ------ Globals ------ */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat";
  font-size: 16px;
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: #fafbfa;
  text-decoration: none;
}

main {
  flex: 1 1 auto;
  width: 100%;
  padding-bottom: 50px !important;
}

.container {
  max-width: 1920px;
  min-height: 100%;
  margin: 0 auto;
  padding: 15px 30px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 15px 50px;
  }
}
/* Small Desktop */
@media screen and (min-width: 1024px) {
  .container {
    padding: 15px 70px;
  }
}
/* Medium Desktop */
@media screen and (min-width: 1440px) {
  .container {
    padding: 15px 90px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    padding: 15px 120px;
  }
}

.accent {
  color: #4ab9e0;
}

/* ------ Nav Bar ------ */
nav {
  background-color: #212020;
  box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.8);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 10px 0;
}

.nav-items {
  width: 100%;
  display: none;
}

.nav-items > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0 15px 0;
  list-style: none;
}

.nav-items a:hover {
  color: #4ab9e0;
}

.mobile-active.nav-items {
  display: block;
}

.nav-item {
  padding-bottom: 15px;
}

.nav-dropdown-item:hover {
  cursor: pointer;
}

.nav-dropdown-item > a::after {
  font: var(--fa-font-solid);
  content: "\f078";
  padding-left: 8px;
  font-size: 11px;
}

.nav-dropdown {
  list-style: none;
  display: none;
}

.dropdown-active.nav-dropdown {
  display: block;
}

.nav-dropdown > li:first-child {
  padding-top: 12px;
}
.nav-dropdown > li:last-child {
  padding-bottom: 0px;
}

.dropdown-item {
  padding: 5px 0 5px 15px;
}

.logo {
  font-size: 25px;
} 

.logo a:hover {
  color: #4ab9e0;
}

.mobile-toggle:hover {
  cursor: pointer;
}

/* Tablets and Xtra Small Desktop */
@media screen and (min-width: 768px) {
  .mobile-toggle {
    display: none;
  }
  .nav-menu {
    flex-wrap: nowrap;
  }
  .nav-items {
    display: block;
    width: auto;
  }
  .nav-item {
    display: inline;
    padding-left: 15px;
    position: relative;
  }
  .dropdown-active.nav-dropdown {
    position: absolute;
    left: 15px;
    top: 49px;
    padding: 10px 25px 15px 15px;
    background-color: #212020;
    white-space: nowrap;
  }
  .dropdown-item {
    padding: 10px 0 0 0;
  }
  .nav-dropdown > li:first-child {
    padding-top: 0;
  }
  .nav-dropdown > li:last-child {
    padding-bottom: 0;
  }
}
/* Small Desktop */
@media screen and (min-width: 1024px) {
  .nav-item {
    padding-left: 25px;
  }
  .dropdown-active.nav-dropdown {
    left: 25px;
  }
}

/* ------ Footer ------ */
footer {
  background-color: #1b1b1b;
  color: #fafbfa;
  margin-top: auto;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0 10px 0;
}

.footer-logo {
  font-size: 18px;
  margin-bottom: 12px;
}

.footer-links {
  list-style: none;
  font-size: 12px;
}

.footer-links li {
  display: inline;
}

.footer-links > li:first-child {
  margin-right: 15px;
}

.footer-link:hover {
  color: #4ab9e0;
}

.footer-copyright {
  margin-top: 10px;
  font-size: 11px;
}

@media screen and (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-copyright {
    font-size: 12px;
    order: 1;
    margin: 0;
  }

  .footer-links {
    order: 2;
  }
}

@media screen and (min-width: 1024px) {
  .footer-copyright,
  .footer-links {
    font-size: 14px;
  }
}
/* ------ Register Page ------ */

.register-header {
  color: #fafbfa;
  line-height: 45px;
  margin: 25px 0 35px 0 ;
}

.register-header h1 {
  font-size: 29px;
}

.register-form-container {
  padding: 25px 15px;
  border: 4px solid #212020;
  border-radius: 5px;
  color: #fafbfa;
}

.register-input {
  font-family: inherit;
  border: 2px solid #212020;
  border-radius: 5px;
  background: none;
  outline: none;
  color: #fafbfa;
  width: 100%;
  padding: 15px;
  font-size: 15px;
}

.register-input:focus {
  border-color: #4ab9e0;
  outline-offset: 0;
}

.register-label {
  position: relative;
  bottom: 35px;
  left: 15px;
  width: 100%;
  cursor: text;
  transition: bottom 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}

.register-input:focus + .register-label,
.register-input:not(:placeholder-shown).register-input:not(:focus) + .register-label {
  font-size: 12px;
  background-color: #121212;
  padding: 0 5px;
  bottom: 63px;
}

.submit-form {
  text-align: center;
  margin-top: 15px;
}

.register-button {
  border: 2px solid #212020;
  border-radius: 5px;
  outline: none;
  font-family: inherit;
  font-size: 15px;
  background: none;
  color: #fafbfa;
  padding: 15px;
}

.register-button:hover {
  border-color: #4ab9e0;
}

.register-error {
  display: none;
  color: red;
  font-size: 12px;
  margin-top: 15px;
}

.socials-divider {
  text-align: center;
  margin-top: 35px;
}

.socials-divider hr {
  border: 1.5px solid #212020;
  background-color: #212020;
}

.socials-divider span {
  position: relative;
  bottom: 12px;
  background-color: #121212;
  padding: 0 7px;
}

.social-button {
  display: block;
  margin: auto;
}

.socials-p {
  text-align: center;
}

.socials-auth {
  text-align: center;
  margin-top: 15px;
}

.socials-auth a {
  display: inline-block;
  width: 40%;
  border: 2px solid #212020;
  font-size: 14px;
  margin: 0 5px;
}

.socials-auth a:hover {
  border-color: #4ab9e0;
}

.have-account {
  margin-top: 20px;
  color: #fafbfa;
  text-align: center;
  font-size: 13px;
}

.register-login-link {
  text-decoration: underline;
}
.register-login-link:hover {
  color: #4ab9e0;
}

@media screen and (min-width: 416px) {
  .register-header {
    margin-left: auto;
    margin-right: auto;
    width: 355px;
  }
 
  .register-form-container {
    margin-left: auto;
    margin-right: auto;
    width: 355px;
  }
}

/* Tablets and Xtra Small Desktop */
@media screen and (min-width: 768px) {
  .register-header {
    width: 450px;
  }
  .register-header h1 {
    width: 355px;
  }
  .register-form-container {
    width: 450px;
  }
  .register-input {
    padding: 20px;
  }
  .register-label {
    bottom: 40px;
  }
  .register-input:focus + .register-label,
  .register-input:not(:placeholder-shown).register-input:not(:focus) + .register-label {
    bottom: 73px;
  }
}